body {
  background: #1a202b;
}

.idk {
  height: calc(100vh - 77px);
}

.flex-me-up {
  display: flex;
  flex-flow: row wrap;
}

.poster-img {
  max-width: 15.625rem;
  height: auto;
}

.poster-width {
  max-width: 9rem;
}

.stars {
  margin-left: 20px;
}

.rec-list {
  max-width: 8rem;
}

.ht {
  height: calc(100vh - 363.39px);
}

.lol {
  background-color: #343131;
}
