html {
  scroll-behavior: smooth;
}

body {
  background: #1a202b;
}

.idk {
  height: calc(100vh - 77px);
}

.flex-me-up {
  display: flex;
  flex-flow: row wrap;
}

.poster-img {
  max-width: 15.625rem;
  height: auto;
}

.poster-width {
  max-width: 9rem;
}

.stars {
  margin-left: 20px;
}

.rec-list {
  max-width: 8rem;
}

.ht {
  height: calc(100vh - 363.39px);
}

.lol {
  background-color: #343131;
}

.quote::before {
  content: "\201C";
  color: #2ae1d5;
  font-size: 1rem;
  display: inline-block;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.quote::after {
  content: "\201D";
  display: inline-block;
  font-size: 1rem;
  color: #2ae1d5;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.reviews:nth-of-type(even) {
  background-color: #202836;
}

.link {
  display: block;
}

div[data-tool-tip] {
  position: relative;
}

div[data-tool-tip]::before {
  content: attr(data-tool-tip);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  opacity: 0;
  transition: opacity ease-in-out 250ms;
}

div[data-tool-tip]:hover::before {
  opacity: 1;
}

.fab {
  text-align: right;
  padding-right: 2rem;
}
