*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #1a202b;
}

.idk {
  height: calc(100vh - 77px);
}

.flex-me-up {
  display: flex;
  flex-flow: row wrap;
}

.poster-img {
  max-width: 15.625rem;
  height: auto;
}

.poster-width {
  max-width: 9rem;
}

.stars {
  margin-left: 20px;
}

.rec-list {
  max-width: 8rem;
}

.ht {
  height: calc(100vh - 363.39px);
}

.lol {
  background-color: #343131;
}

.quote::before {
  content: "\201C";
  color: #2ae1d5;
  font-size: 1rem;
  display: inline-block;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.quote::after {
  content: "\201D";
  display: inline-block;
  font-size: 1rem;
  color: #2ae1d5;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.reviews:nth-of-type(even) {
  background-color: #202836;
}

.link {
  display: block;
}

.fab {
  text-align: right;
  padding-right: 2rem;
}

.poster-img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

/* .poster-img:hover {
  opacity: 0.2;
} */

.text {
  z-index: -1;
}

.hover-bitch {
  position: relative;
}

.hover-bitch:hover .poster-img {
  opacity: 0.3;
}

.hover-bitch::before {
  content: attr(data-tool-tip);
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: -1;
  transition: all 0.3s ease-in-out;
  color: #fff;
  text-align: center;
  width: 90%;
}

.hover-bitch::after {
  content: attr(data-movie-genre);
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: -1;
  transition: all 0.3s ease-in-out;
  color: #fff;
  text-align: center;
  width: 90%;
}

.hover-bitch:hover::before {
  z-index: 1000;
  top: 37%;
  left: 50%;
  opacity: 1;
}

.hover-bitch:hover::after {
  z-index: 1000;
  bottom: 37%;
  left: 50%;
  opacity: 1;
}

#btn-primary {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.267);
}

.ref-text {
  color: #2ae1d5;
  font-size: 26px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@keyframes cardSlideBefore {
  0% {
    opacity: 0;
    top: 0%;
  }

  50% {
    /* opacity: 0.3; */
    top: 25%;
  }

  100% {
    opacity: 1;
    top: 40%;
  }
}

@keyframes cardSlideAfter {
  0% {
    opacity: 0;
    bottom: 0%;
  }

  50% {
    /* opacity: 0.3; */
    bottom: 25%;
  }

  100% {
    opacity: 1;
    bottom: 40%;
  }
}
